.area.above {
    fill: #ec7014;
    stroke: none;
}

.area.abovemax {
    fill: #cc4c02;
    stroke: none;
}

.area.below {
    fill: #1d91c0;
    stroke: none;
}

.area.belowmax {
    fill: #225ea8;
    stroke: none;
}

.line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 0.3px;
}

.lineZero {
    fill: none;
    stroke: #ffffff;
    stroke-width: 0.3px;
}